
<%= turbo_frame_tag 'main_content', data: {turbo_frame: "_top"} do %>
    <div data-controller="SubdivisionResidence">
        <%= render "residence/forms/search"%>
        <%= render "residence/independent_component/redirect_user_sign_in"%>
        <%= render "residence/table/residence_list"%>
    </div>
<% end %>