<div class="form-group">
    <div class="row">
        <div class="col">
        RESIDENCE REGISTRATION: <input class="form-control"  data-SubdivisionResidence-target="copySource" type="text" value="<%=@sign_in_url%>" readonly>
        </div>
        <button data-action="SubdivisionResidence#copy" class="btn btn-primary">Copy Link</button>
  </div>
</div>
<br>