
<div class="card-header form-row">
            <div class="row">
                <div class="col-8">
                    <input class="form-control"  data-SubdivisionResidence-target="copySource" type="text" value="<%=@sign_in_url%>" readonly>
                </div>
                <div class="col">
                    <button data-action="SubdivisionResidence#copy" class="btn btn-primary">Copy Registration Link</button>
                </div>
            </div>
            <br>
</div>
<br>